# Database
POSTGRES_USER=
POSTGRES_PASSWORD=

#kafka
KAFKAJS_NO_PARTITIONER_WARNING= # optional
KAFKA_BOOTSTRAP_SERVERS=localhost:9094
SCHEMA_REGISTRY_URL=http://localhost:8081

# Production only (required when NODE_ENV=production)
KAFKA_API_KEY=
KAFKA_API_SECRET=
SCHEMA_REGISTRY_API_KEY=
SCHEMA_REGISTRY_API_SECRET=